body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 16px;
}

.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  border-bottom: 1px solid #e5e5e5;
}

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.footer {
  clear: both;
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}

/************
 * Navigation
 ************/

.main-nav {
  margin-bottom: 20px;
  float: left;
  
}

.custom-nav > li > a {
  background-color: #EFF6FF;
}

.custom-nav > li > a:hover,
.custom-nav > li > a:active,
.custom-nav > li > a:focus {
  background-color: #428BCA;
  color: #FFFFFF;
}

/*********************
 *  Menu List Styles
 *********************/
.menu {
  clear: both;
}
.menu div {
  font-size: 24px;
  text-align: center;
}

.menu-days,
.menu-recipes {
  padding: 0;
}

.menu-day {
  background-color: #B3D4FC;
  padding: 20px 0;
  margin-bottom: 5px;
}

.menu-recipe {
  background-color: #CFE5FF;
  cursor: pointer;
  margin-bottom: 5px;
  min-height: 1px;
  padding: 20px 0;
  position: relative;
}

.menu-controls {
  float: right;
  margin: 10px 0;
}

.options {
  position: absolute;
  right: 5px;
  top: 5px;
}

.options ul li {
  text-align: left;
}

.options-menu li {
  padding: 5px 5px 5px 15px;
}

.options-menu li:hover {
  background-color: #E5E5E5;
}

.empty {
  height: 74px;
  background-color: #F5F5F5;
}

.day-column {
  float: left;
  width: 200px;
}

.recipe-column {
  float: right;
  width: 500px;
}

/*************************
 *  Recipe details styles
 *************************/

.recipe-details {
  background-color: #EFF6FF;
  font-size: 1.0em;
  margin-bottom: 25px;
}

.recipe-details div.row {
  padding: 10px 15px 0px 15px;
}

.details-name {
  background-color: #B3D4FC;
}

.details-name h1 {
  margin: 10px 0;
  font-size: 1.6em;
  font-weight: 400;
}

.details-ingredients, .details-steps {
  border-bottom: 1px solid #CFE5FF;
}

.details-back {
  margin-bottom: 10px;
}

.recipe-headers {
  margin: 10px 0 15px 0;
  font-size: 1.0em;
  font-weight: 500;
}

.item-options {
  float: right;
}

/**********
 *  New Recipe
 **********/

.new-recipe {
  margin-bottom: 10px;
}

.ingredients-list {
  list-style: none;
  padding-left: 0;
}

.ingredients-list li {
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  height: 37px;
  margin-bottom: 8px;
  padding: 5px;
  position: relative;
  width: 400px;
}

.steps-list {
  padding-left: 20px;
}

.steps-list li {
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  min-height: 37px;
  margin-bottom: 8px;
  padding: 5px 35px 5px 5px;
  position: relative;
  width: 100%;
  word-wrap: break-word
}

.delete-ingredient-btn,
.delete-step-btn {
  height: 35px;
  position: absolute;
  right: 0;
  top: 0;
  width: 35px;

}

.ingredients-h1,
.steps-h1 {
  font-size: 20px;
  border-bottom: 1px solid #E5E5E5;
}

.recipe-name-label {
  font-size: 20px;
}

.add-ingredient,
.add-step {
  margin-bottom: 25px;
}

.add-ingredient h2 {
  font-size: 15px;
  font-weight: 700;
}

#ingredientname {
  width: 400px;
}

.add-step-textarea {
  margin-bottom: 5px;
}


.status-success {
  background-color: #BFFFD4;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 5px;
}

.status-error {
  background-color: #FFBFBF;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 5px;
}
