<div ng-controller="MenuCtrl as weekmenu">
  <div class="menu">
    <div class="day-column menu-days">
      <div ng-repeat="day in days">
        <div class="menu-day">{{day}}</div>
      </div>
    </div>
    <div ui-sortable="sortableOptions" ng-model="menu" class="recipe-column menu-recipes">
      <div ng-repeat="menuitem in menu">
        <div class="menu-recipe" ng-class="{ empty : menuitem.type == 'empty', takeout: menuitem.type == 'takeout' }">
          <div ng-click="viewRecipe(menuitem)">
            {{menuitem.name}}
          </div>           
          <div class="options">
            
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                Edit
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu options-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li ng-click="deleteItem(menuitem)">Delete</li>
                <li ng-click="changeItem(menuitem, 'Leftovers')">Leftovers</li>
                <li ng-click="changeItem(menuitem, 'Takeout')">Takeout</li>
                <li ng-click="replaceRecipe(menuitem)">Get New Recipe</li>
              </ul>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
