<div ng-controller="RecipeCtrl as recipedtls">
  <div class="row">
    <div class="col-md-12 recipe-details">
      <div class="row">
        <div class="col-md-12 details-name">
          <h1>{{recipe.name}}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 details-ingredients">
          <h2 class="recipe-headers">Ingredients</h2>
          <ul>
            <li ng-repeat="ingredient in recipe.ingredients">{{ingredient.amount}} {{ingredient.name}}</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 details-steps">
          <h2 class="recipe-headers">Directions</h2>
          <ol>
            <li ng-repeat="step in recipe.steps">{{step}}</li>
          </ol>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 details-back">
          <a class="btn btn-primary" href="#/main">Back to Menu</a>
        </div>
      </div>
    </div>
  </div>
</div>
